<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" type="text" id="name" formControlName="name" (blur)="onValueChanged()">

        <div class="alert alert-danger" *ngIf="formErrors.name">{{formErrors.name}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" formControlName="password" (blur)="onValueChanged()"> 

        <div class="alert alert-danger" *ngIf="formErrors.password">{{formErrors.password}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="email" id="email" formControlName="email" (blur)="onValueChanged()">

        <div class="alert alert-danger" *ngIf="formErrors.email">{{formErrors.email}}</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="age">Age:</label>
        <input class="form-control" type="text" id="age" formControlName="age" (blur)="onValueChanged()">

        <div class="alert alert-danger" *ngIf="formErrors.age">{{formErrors.age}}</div>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role:</label>
      <select class="form-select" id="role" formControlName="role" (blur)="onValueChanged()">
        <option [value]="null" disabled selected>Choose role</option>
        <option [value]="role" *ngFor="let role of roles">{{role}}</option>
      </select>

      <div class="alert alert-danger" *ngIf="formErrors.role">{{formErrors.role}}</div>
  </div>

    <div class="mb-3">
      <button class="btn btn-info">Save</button>
    </div>
</form>

<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input (blur)="onValueChanged()" class="form-control" type="text" name="name" id="name" [(ngModel)]="model.name" required maxlength="10" minlength="4" #name="ngModel">

        <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age:</label>
        <input (blur)="onValueChanged()" class="form-control" type="text" name="age" id="age" [(ngModel)]="model.age"  required #age="ngModel">

        <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Role:</label>
        <select class="form-select" name="role" id="role" [(ngModel)]="model.role">
          <option value="" disabled selected>Choose role</option>
          <option [value]="role" *ngFor="let role of roles">{{role}}</option>
        </select>
    </div>

    <div class="mb-3">
      <button class="btn btn-info">Save</button>
    </div>
</form>

{{model | json}} -->